@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
html {
    background-color:hsl(53, 29%, 95%);
    color:#252425;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    text-align: center;
}


/* NAV SECTION */
nav ul li a {
    color: white;
    text-decoration: none;
    
}





nav {
    background-color:rgb(23, 23, 24);
    color: hsl(51, 24%, 89%);
    display: flex;
    justify-content: space-between;
}
nav img {
    width: 4rem;
    height:4rem;

    margin: auto 3rem;
}

nav ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0 3rem;
}

nav ul li {
    display: inline-block;
    padding: 1.5rem;
    font-size: 1.5rem;

}

nav ul li:hover {
    font-size:1.75rem;
}



/*MAIN SECTION */

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-left:rgb(23, 23, 24);
    border-right:rgb(23, 23, 24);
    margin-top:0;
}
h1  {
    margin-top: 4rem;
    font-size:4rem;
}

main span {
    width: 50%;
    text-align: center;
    margin-top: 1rem;
}

main img {
    margin: 2rem;
}


/* Footer Section */

footer {
    background-color:rgb(23, 23, 24);
    color: hsl(51, 24%, 89%);
    display: flex;
    justify-content: space-between;
}

footer span, footer a {
    margin: 2rem;
}
